@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  @apply leading-normal text-green-900;
  margin-bottom: 1rem;
}

.prose {
  @apply text-green-900;
}

body {
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  @apply font-bold text-gray-900;
}

h2 {
  @apply font-bold;
}

svg {
  fill: white;
  width: 30px;
  height: 30px;
}

.header {
  padding: 2rem;
}

.swiper-container {
  width: 100%;
  height: 400px;
}

.swiper-slide {
  position: relative;
}
.swiper-slide img {
  object-fit: contain;
  object-position: bottom;
  width: 100%;
  height: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  background: white;
  opacity: 0.8;
  padding: 2rem;
  border-radius: 8px;
}

footer span {
  display: block;
}
